.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.range_pack {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.image_box > input {
  pointer-events: none;
  position: absolute;
  appearance: none;
  opacity: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  background-color: transparent;
}

.image_box {
  display: flex;
  align-items: flex-start;
  position: relative;
  border: 2px solid #7e22ce;
  position: relative;
  height: 6rem;
  /* overflow: hidden; */
  border-radius: 10px;
}
.image_box > img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.clip_box {
  border: 10px solid #7e22ce;
  position: absolute;
  height: 110%;
  box-shadow: 2000 0 5px 10px #7e22ce, -400px 0 5px -10px #7e22ce;
  transform: translateY(-5%);
  border-radius: 10px;
}
.clip_box::before,
.clip_box::after {
  position: absolute;
  top: 90%;
  transform: translateY(104%);
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.clip_box::before {
  content: attr(data-start);
  left: 0;
  transform: translateY(90%) translateX(-50%);
}
.clip_box::after {
  content: attr(data-end);
  right: 0;
  transform: translateY(90%) translateX(50%);
}

.clip_box_des {
  width: 1.3rem;
  height: 100%;
  background-color: #7e22ce;
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.clip_box_des:nth-child(1) {
  left: 0;
  transform: translateX(-70%);
  border-radius: 10px 0 0 10px;
}
.clip_box_des:nth-child(2) {
  right: 0;
  transform: translateX(70%);
  flex-flow: row-reverse;
  border-radius: 0 10px 10px 0;
}
.clip_box_des::before,
.clip_box_des::after {
  content: "";
  width: 3px;
  background-color: #f2f2f2;
  border-radius: 100px;
}
.clip_box_des::before {
  height: 60%;
}
.clip_box_des::after {
  height: 40%;
}

.range::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 30px;
  height: 200px;
  /* border-radius: 50%; */
  /* opacity: 1; */
  background:#7e22ce;
  cursor: ew-resize;
  /* z-index: 2; */
}

.deck {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  align-items: start;
  margin-top: 1.4rem;

  gap: 4rem;
}
.deck > * {
  border-radius: 5px;
  align-items: start;
}

.deck > button {
  align-self: center;
}

.grid_txt_2 {
  display: grid;
  gap: 1rem;
}
